.personal{
    background: $bra;
    // width: 300px;
    height: 100%;
    box-sizing: border-box;
    float: left;
    .personal-image{
        width: 60%;
        margin: auto;
        position: relative;
        cursor: pointer;

        &:hover .fa{
            opacity: .5;
        }
        .fa{
            position: absolute;
            font-size: 100px;
            color: $bra;
            left: 70px;
            top: 80px;
            opacity: .0;
        }
        img{
            width: 100%;
            margin-top: 10px;

        }
    }// personal-image
    h2{
        width: 80%;
        background: #f3f2f2;
        font-size: 30px;
        margin: 30px auto;
        padding: 5px 0 5px 10px;
        border-radius: 1px;
        color: #3d3d3d;
    }
    .personal-details{
        ul{
            width: 100%;

            li{
                width: 100%;
                padding: 10px 0 10px 40px;
                box-sizing: border-box;
                a{
                color: $az;
                outline: none;

                }
                span{
                    float: right;
                    position: relative;
                    right: 30px;
                }
            }
        }
    }
}// personal
.more-details{
    width: 50%;
    padding: 15px;
    float: left;

}//more-details
.more-personal{
    h2{
        font-size: 30px;
    }
    table{
        margin-top: 30px;
        td{
            padding: 10px;
            span{
                font-weight: 600;
            }
        }
    }

}//more-personal
.social-frends{
    width: 100%;
    max-width: 300px;
    margin: auto;
    box-sizing: border-box;
    position: relative;
    ul{
        width: 100%;
        li{
            width: 50px;
            height: 50px;
            float: left;
            margin: 5px ;
            box-sizing: border-box;
            img{
                width: 100%;
            }
        }
    }
}
.fade{
    transition: .5s;
    height: 0px;
    overflow: hidden;
    padding: 0px;
}
.information{
    background: $bra;
    width: 100%;
    .infor-click1{
        transition: 1s;
        width: 100%;
        background: $bra;
        border: $border;
        padding: 10px 0 10px 20px;
        box-sizing: border-box;
        font-size: 18px;
        color: $az;
        border-radius: 1px;
        cursor: pointer;
    }
    .acorder{
        margin: 20px;
        min-height: 100px;
    }
}//information
