<div class="clear"></div>
<script>
    $( function() {
    $( "#datepicker" ).datepicker();
    } );
</script>

<style>
    button:disabled{
        opacity: .5;
    }
</style>

<div class="form" >
    <h1>Eventos</h1>
    <div class="clear"></div>
    <form class="cad-eventos">
        <!-- nome -->
        <div class="form-group">
        <label for="nomeDoEvento">Nome do Evento:</label>
        <input type="text" name="nomeDoEvento" value="" id="nomeDoEvento" ng-model="compromisso.nome">
        </div>
        <!-- data -->
        <div class="form-group">
        <label for="dataDoEvento">Data do Evento:</label>
        <input type="text" name="dataDoEvento" value="" placeholder="DD/MM/AA" id="datepicker" ng-model="compromisso.data">
        </div>
        <!-- tipo -->
        <div class="form-group">
            <label for="typeEvento">Tipo Evento:</label>
            <select ng-model="compromisso.tipoDeEvento">
                <option value="">Escolha uma opção</option>
                <option value="feriado">Feriado</option>
                <option value="reuniao">Reunião</option>
            </select>
        </div>
        <!-- Agregar -->
        <button type="button" class="agregar" ng-click="adicionar(compromisso)" ng-disabled="!compromisso.nome || !compromisso.data || !compromisso.tipoDeEvento">Agregar</button>

    </form>
</div>

<table>
    <tr>
        <th>Nome do Evento</th>
        <th>Data do Evento</th>
        <th>Tipo do Evento</th>
    </tr>
    <tr ng-repeat="evento in listaDeEventos">
        <td>{{evento.nome}}</td>
        <td>{{evento.data}}</td>
        <td>{{evento.tipoDeEvento}}</td>
    </tr>
</table>
