<section>
        <div class="social fleft">
            <div class="sicial-media">
                <ul>
                    <li>
                        <div class="social-icon fleft">
                            <i class="fa fa-microphone" aria-hidden="true"></i>
                        </div>
                        <div class="social-week fleft">
                            <h2>8,372k</h2>
                            <p>Registred Users</p>
                        </div>
                    </li>
                    <li>
                        <div class="social-icon fleft">
                            <i class="fa fa-tint" aria-hidden="true"></i>
                        </div>
                        <div class="social-week fleft">
                            <h2>8,372k</h2>
                            <p>Registred Users</p>
                        </div>
                    </li>
                    <li>
                        <div class="social-icon fleft">
                            <i class="fa fa-paper-plane" aria-hidden="true"></i>
                        </div>
                        <div class="social-week fleft">
                            <h2>8,372k</h2>
                            <p>Registred Users</p>
                        </div>
                    </li>
                </ul>
            </div>
            <!--  -->
            <div class="emails fleft">
                <h2>Ultimos Emails</h2>
                <ul>
                    <li ng-repeat="a in [1,2,3]">
                        <span class="check"><input type="checkbox" name="select" value=""></span>
                        <a href="#">
                            <span class="name"><h3>Andrea Lopes</h3></span>
                            <span class="action"><i class="fa fa-trash" aria-hidden="true"></i></span>
                        </a>
                    </li>
                </ul>
            </div>
            <!--  -->
            <section>
                <div class="navegators fleft">
                    <div class="navegators-info">
                        <h2>WEEKLY DISTRIBUTION</h2>
                        <p>3.490K</p>
                    </div>
                </div>
            </section>
        </div>
</section>
<div class="clear"></div>

<!-- CALENDAR MORE (A PARTE DO CALENDARIO E DAS VIEWS DAS PAGINAS) -->
<!-- calendario -->
<div class="section2">
    <section class="calendar fleft">
        <div class="cal-local">
            <img src="images/clima.png" alt="clima">
            <h2 class="local">San Francisco, CA</h2>
        </div>
        <div class="cal-date">
            <table>
                <tr>
                    <td>MON</td><td>TUE</td><td>QED</td><td>THU</td><td>FRI</td><td>SAT</td>
                </tr>
                <tr>
                    <td><i class="fa fa-cloud" aria-hidden="true"></i></td>
                    <td><i class="fa fa-cloud" aria-hidden="true"></i></td>
                    <td><i class="fa fa-cloud" aria-hidden="true"></i></td>
                    <td><i class="fa fa-cloud" aria-hidden="true"></i></td>
                    <td><i class="fa fa-cloud" aria-hidden="true"></i></td>
                    <td><i class="fa fa-cloud" aria-hidden="true"></i></td>
                </tr>
                <tr>
                <td>45º</td><td>42º</td><td>37º</td><td>23º</td><td>34º</td><td>12º</td>
                </tr>
            </table>
        </div>
    </section>

    <!-- SALES (ESTATISICAS DE USO EM EM OUTROS PAÍSES) -->
        <section class="sales">
            <ul>
                <li>
                    <h2>SALES</h2>
                    <h3>WEEKLY PROGECTORS</h3>
                </li>
                <li>United States <span>32</span></li>
                <li>China<span>32</span></li>
                <li>Great Britain<span>43</span></li>
            </ul>
        </section>
</div>

<!-- PERSONAL PROFILE -->
<div class="clear">
<!--  -->
</div>
<div class="section4">
        <section class="person">
            <div class="">
                <ul>
                    <li>
                        <div class="person-img">
                            <img src="images/user.jpeg" alt="user">
                        </div>
                        <div class="person-info">
                            <h2>Samuel Parkins</h2>
                            <h3>San Francisco, Ca</h3>
                            <h3>Interactive UX developed</h3>
                        </div>
                    </li>
                    <!--  -->
                    <li>
                        <div class="person-climate">
                            <div class="climate-info">
                                <p>14º</p>
                                <h2>San Francisco, Ca</h2>
                            </div>
                            <div class="climate-img">
                                <img src="images/climate.png" alt="climate">
                            </div>
                        </div>
                    </li>
                    <!--  -->
                    <li class="person-information">
                            <div>
                                <p>132</p>
                                <h3>PENDING</h3>
                            </div>
                            <div>
                                <p>43</p>
                                <h3>COMPLETED</h3>
                            </div>
                    </li>
                </ul>
            </div>
        </section>
    </div>
