<section class="personal">
    <div class="personal-image">
        <i class="fa fa-camera" aria-hidden="true"></i>
        <img src="../images/user.jpeg" alt="user">
    </div>
    <!-- fim image -->

    <div class="personal-details">
        <h2>Marcações</h2>
        <ul>
            <li><a href="#">Eventos <span>+1</span></a></li>
            <li><a href="#">Projetos <span>+4</span></a></li>
            <li><a href="#">Chamadas <span>+1</span></a></li>
            <li><a href="#">Exemplo <span>+1</span></a></li>
        </ul>
    </div>
    <!-- amigos da empresa  -->
    <h2>Equipe</h2>
    <section class="social-frends">
        <ul>
            <li><a href="#"><img src="../images/user.jpeg" alt="Samuel Parkins"></a></li>
            <li><a href="#"><img src="../images/samuel.jpg" alt="Samuel Parkins"></a></li>
            <li><a href="#"><img src="../images/samuel.jpg" alt="Samuel Parkins"></a></li>
            <li><a href="#"><img src="../images/samuel.jpg" alt="Samuel Parkins"></a></li>
            <li><a href="#"><img src="../images/samuel.jpg" alt="Samuel Parkins"></a></li>
            <li><a href="#"><img src="../images/samuel.jpg" alt="Samuel Parkins"></a></li>
            <li><a href="#"><img src="../images/samuel.jpg" alt="Samuel Parkins"></a></li>
            <li><a href="#"><img src="../images/samuel.jpg" alt="Samuel Parkins"></a></li>
            <li><a href="#"><img src="../images/samuel.jpg" alt="Samuel Parkins"></a></li>
            <li><a href="#"><img src="../images/samuel.jpg" alt="Samuel Parkins"></a></li>
        </ul>
    </section>
</section>
<!-- fim cessão personal  -->


<section class="more-details">
    <div class="more-personal">
        <h2 id="user-name">Samuel Parkins Slovsky</h2>
        <table>
            <tr>
                <td><span>Função:</span></td>
                <td>Gerencia</td>
            </tr>
            <tr>
              <td><span>Função:</span></td>
              <td>Gerencia</td>
            </tr>
        </table>
        <div class="information">
            <div class="infor-click1">
                <p><span>&#9654;</span> Informações de Contato</p>
            </div>
            <div class="infor-acorde1">
                <div class="acorder">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        Duis aute irure dolor in reprehenderit in voluptate velit
                         esse cillum dolore eu fugiat nulla pariatur.</p>
                </div>
            </div>
        </div>

</div>

    </div>
    <!-- script -->
    <script>
      $('.infor-click1').click(function(){
         $('.infor-acorde1').toggleClass('fade');
      });
     </script>
</section>
